<header>
    <nav>
       <a href="/">movieCruizer</a>
       <ul>
          <li>
             <a href="/directors">All Directors</a> 
          </li>
          <li>
              <a href="/directors/new">Add a Director</a> 
          </li>
       </ul> 
    </nav>
</header>