<header>
    <nav class="header-nav">
       <a class="header-title" href="/">movieCruizer </a>
       <ul>
          <li>
              <a href="/movies">All Movies</a> 
          </li>
          <li>
              <a href="/movies/new">Add Movie</a> 
          </li>
          <li>
             <a href="/directors">All Directors</a> 
          </li>
          <li>
              <a href="/directors/new">Add Director</a> 
          </li>
       </ul> 
    </nav>
</header>