<h1>Let The World Knows Ur Favrt Movies ....</h1>
<h2>Recently Added Movies</h2>
<div>
    <% movies.forEach(movie=> { %>
        <img height="150" width="100" src="<%= movie.coverImagePath %> ">
        <% }) %>
    </div>  
</div>