<!-- <h1 class="project-caption" >Let The World Knows Ur Favrt Movies ....</h1>
 --><h2  class="page-header" >Recently Added Movies</h2>
<div>
    <% movies.forEach(movie=> { %>
       <a href="/movies/<%= movie.id %> ">
         <img height="150" width="100" src="<%= movie.coverImagePath %> ">
          <% }) %>
       </a>
    </div>  
</div>