<%- include('../partials/header.ejs') %>
<h2 class="page-header"><%= director.name %> </h2>


<% if(moviesByDirector.length > 0) { %>
  <h2 class="page-header">Movies By Director <%= director.name %></h2>
    <%- include('../partials/movieGrid', { movies: moviesByDirector }) %> 
<% } %> 